[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mjc0015
[access "refs/for/refs/*"]
	read = group user/Mjc0015
	push = group user/Mjc0015
	label-Code-Review = -2..+2 group user/Mjc0015
	label-Verified = -1..+1 group user/Mjc0015
	rebase = group user/Mjc0015
	removeReviewer = group user/Mjc0015
	submit = group user/Mjc0015
[access "refs/heads/*"]
	read = group user/Mjc0015
	create = group user/Mjc0015
	push = +force group user/Mjc0015
	pushMerge = group user/Mjc0015
[access "refs/tags/*"]
	push = +force group user/Mjc0015
	pushTag = group user/Mjc0015
	pushSignedTag = group user/Mjc0015
